<div class="container">
  <div class="card card-login mx-auto mt-5">
    <div class="card-header" style="text-align: center;">
      <h2>Quên mật khẩu</h2>
    </div>
    <div class="card-body">
      <form action="/reset-password">
        <div class="form-group row">
          <label for="email" class="col-sm-12 text-center col-form-label">Nhập email tài khoản đã đăng ký</label>
        </div>
        <div class="form-group row">
          <div class="col-sm-12 text-center">
            <input type="email" class="form-control" id="email">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-4"></div>
          <button type="submit" class="col-sm-4 text-center btn btn-primary">Tiếp tục</button>
          <div class="col-4"></div>
        </div>
      </form>
    </div>
  </div>
</div>