<h1>Quản lý Người dùng</h1>

<hr>

<table id="table" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">Mã số</th>
      <th scope="col">Họ tên</th>
      <th scope="col">Tên tài khoản</th>
      <th scope="col">Email</th>
      <th scope="col">Số note đã tạo</th>
      <th scope="col">Trạng thái</th>
    </tr>
  </thead>
  <tbody>
    <tr class='clickable-row' data-href='/info-user'>
      <td>1</td>
      <td>Nguyễn Văn A</td>
      <td>nva</td>
      <td>nva@gmail.com</td>
      <td>1,000</td>
      <td>Chưa khóa</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Nguyễn Thị B</td>
      <td>ntb</td>
      <td>ntb@gmail.com</td>
      <td>1,000</td>
      <td>Chưa khóa</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Nguyễn Văn C</td>
      <td>nvc</td>
      <td>nvc@gmail.com</td>
      <td>1,000</td>
      <td>Chưa khóa</td>
    </tr>
  </tbody>
</table>