<div class="container">
  <div class="card card-login mx-auto mt-5">
    <div class="card-header" style="text-align: center;">
      <h2>Quên mật khẩu</h2>
    </div>
    <div class="card-body">
        <div class="form-group row">
          <div class="col-12 text-center">
            Truy cập email của bạn để nhận mật khẩu mới và đăng nhập lại
          </div>
        </div>
        <div class="form-group row">
          <div class="col-2"></div>
          <a href="/login" role="button" class="col-sm-8 text-center btn btn-primary">Quay lại đăng nhập</a>
          <div class="col-2"></div>
        </div>
    </div>
  </div>
</div>